body {
  font-family: 'PT Sans Narrow', sans-serif;
}

h2 {
  text-align: center;
}

#addDollarButton, #addQuarterButton, #addDimeButton, #addNickelButton {
  font-size: 12px;
  margin: 0 auto;
  background-color: #97A2FF;
  border: #97A2FF;
  color: black;
  width: 115px;
}

#itemDiv {
  text-align: center;
}

#moneyInput {
  width: 75%;
  text-align: center;
  margin: 0 auto;
}

#purchaseButton {
  background-color: #FFBEBC;
  border: #FFBEBC;
  color: black;
}

#returnChangeButton {
  background-color: #BFFCC6;
  border: #BFFCC6;
  color: black;
}

#purchaseButton, #returnChangeButton {
  margin: 0 auto;
}


#item-cards {
  margin: 5px;
  height: 225px;
}

#purchaseItemArea {
  margin: 0 auto;
}

#currMoney, #changeInputBox, #vendingMessage, #vendingItem {
  text-align: center;
}

